*
{
  margin: 0;
  padding: 0;
}
#login {
position: absolute;
height: 90px;
width: 140px;
border-radius: 50%;
margin-left: 90%;
margin-top: 2%;
}
header{
  background-image: url(phare.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
}
#money
{
color: rgba(0, 0, 0, 0.395);
font-size: 30px;
}
#log {
    display: flex;
}
.contenant {
    position: absolute;
    margin-left: 40%;
    margin-top: 15%;
    color: rgb(13, 13, 13);
    width: 20%;
  }

  h1 {
    font-size: 80px;
  }

  #titre {
    text-align: center;
  }
  
  .texte_centrer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

img {
    background-image: url(phare.jpg);
    background-repeat: no-repeat;
}

#menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  height: 40px;
  margin: 3% 10%;
}

#butt1 {
grid-column: 1;
}

#butt2 {
  grid-column: 3;
  }

  #butt3 {
    grid-column: 5;
    }

    #butt4 {
      grid-column: 7;
      }

      #butt5 {
        grid-column: 9;
        }

        #butt6 {
          grid-column: 11;
          }


.container { font-family: arial; color:rgb(10, 10, 10);
  position: relative;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 15px;
}

container-1 {
grid-row: 1;
grid-column: 2;
background-image:url(umbrella.png) ;
background-color: red;
background-repeat: no-repeat;
background-size: cover;
}

container-2 {
  grid-row: 1;
  grid-column: 3;
  background-color: blue;
}

container-3 {
  grid-row: 1;
  grid-column: 4;
  background-color: blueviolet;
}

container-4 {
  grid-row: 2;
  grid-column: 2;
  background-color: aqua;
}

container-5 {
  grid-row: 2;
  grid-column: 3/5;
  background-color: cornflowerblue;
}

container-6 {
  grid-row: 3;
  grid-column: 2/4;
  background-color: chartreuse;
}

container-7 {
  grid-row: 3;
  grid-column: 4;
  background-color: red;
}